<!-- <div class="editor">
    <h2 (click)="openDocumentation('https://quilljs.com/docs/quickstart/')">Froala</h2>
    <textarea [froalaEditor]="froalaOptions" [(froalaModel)]="froalaContent"></textarea>
</div> -->


<div class="editor">
    <h2 (click)="openDocumentation('https://quilljs.com/docs/quickstart/')">Quill</h2>
    <quill-editor [(ngModel)]="quillContent" [modules]="modules" #quillComp></quill-editor>
</div>

<div>
    <button (click)="logContent()">Compare</button>
</div>

@if (this.sanitizedContent && this.quillContent) {
    <div class="editor">
        <h1>pasted html</h1>
        <p>{{ this.quillContent }}</p>
        <h1>clean html</h1>
        <p>{{ this.sanitizedContent }}</p>
        <h1>display clean html</h1>
        <div [innerHTML]="this.sanitizedContent"></div>
    </div>
}
